@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --el-header-padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "PingFang SC", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}
