@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --el-header-padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "PingFang SC", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  line-height: 1.5;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

code.hljs {
    color: #333;
    background: #f8f8f8;
    border-radius: 8px;
    margin: 16px 0;
}

::-webkit-scrollbar {
    background: transparent;
    border-radius: 100px;
    height: 6px;
    width: 6px;
}


blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    word-break: break-word;
}

.el-header, .el-footer {
    background-color: transparent!important;
    border-bottom: 1px solid #ebeef5;
}